Repository sarvsav/awesome-go-green, changes with the labels that .github/labeler.yml gives for each.
All labels: root, software, infrastructure, events, cicd

Added stale issue workflow
  .github/workflows/close-stale-issues.yml
Labels: cicd

Added details about Building Green Software book
  resources/books/building-green-software/README.md
  resources/books/building-green-software/assets/building-green-software.png
Labels: none

Added various resources
  README.md
  resources/groups/green-software-ireland/README.md
  resources/groups/green-software-ireland/image.png
  resources/helpful-links/electricity-maps/README.md
  resources/helpful-links/electricity-maps/images/electricity-maps.png
  resources/podcasts/environment-variables/README.md
  resources/podcasts/environment-variables/assets/environment-variables.png
Labels: root

Added discord server
  README.md
Labels: root

Added thank you note
  README.md
Labels: root

updated more resources
  README.md
  resources/groups/green-software-ireland/README.md
  resources/groups/green-software-ireland/images/green-software-ireland.png
  resources/groups/tag-environmental-sustainability/README.md
  resources/groups/tag-environmental-sustainability/images/tag.png
  resources/trainings/sustainable-it-for-beginners/README.md
Labels: root

updated teads aws details
  README.md
  infrastructure/cloud/teads-engineering/README.md
  infrastructure/cloud/teads-engineering/assets/manifests/tixserve-ticketjourney-rds-cpu-may24.yaml
  infrastructure/cloud/teads-engineering/assets/results-carbon-calculator.png
Labels: root, infrastructure

Introduced aether
  README.md
  infrastructure/cloud/aether/README.md
Labels: root, infrastructure

docs(podcast): Green IT on cloud
  README.md
  resources/podcasts/green-it-on-cloud/README.md
  resources/podcasts/green-it-on-cloud/assets/green-it-on-cloud.png
Labels: root

Update README.md
  README.md
Labels: root

ml-ai: added a new section for ml-ai and pruna as entry
  README.md
  ml-ai/pruna/README.md
Labels: root

software(tools): Added powerletrics
  README.md
  software/tools/powerletrics/README.md
Labels: root, software

Create renovate.json
  renovate.json
Labels: root

Update renovate.json
  renovate.json
Labels: root

Update renovate.json
  renovate.json
Labels: root

tools: jobrunr v8 for carbon aware jobs
  README.md
  software/tools/jobrunr/HelloCarbonAware/pom.xml
  software/tools/jobrunr/HelloCarbonAware/src/main/java/com/example/App.java
  software/tools/jobrunr/README.md
Labels: root, software

.github/labeler.yml:

# Add 'root' label to any root file changes
# Quotation marks are required for the leading asterisk
root:
- changed-files:
  - any-glob-to-any-file: '*'

# Add Software label to any changes to the software directory or any of its subdirectories
software:
- changed-files:
  - any-glob-to-any-file: 'software/**'

# Add Infrastructure label to any changes to the infrastructure directory or any of its subdirectories
infrastructure:
- changed-files:
  - any-glob-to-any-file: 'infrastructure/**'

# Add events label to any changes to the events directory or any of its subdirectories
events:
- changed-files:
  - any-glob-to-any-file: 'events/**'

# Add cicd label to any changes to the .github/workflows directory or any of its subdirectories
cicd:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/**'

# Add 'release' label to any PR that is opened against the `main` branch
release:
 - base-branch: 'main'
